@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #85ffbd;
  font-family: 'Nunito', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
}

@media only screen and (max-width: 767px) {
  .container {
    top: 5%;
    width: 90%;
  }
}

.box {
  min-width: 400px;
  background: #fafafa;
  border-radius: 38px;
  text-align: center;
  position: relative;
  margin-bottom: 150px;
}

.box::before {
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .box {
    min-width: 90%;
    margin-bottom: 50px;
  }
}

h1 {
  font-weight: bold;
  font-size: 36px;
  padding: 30px 0;
}

.content {
  padding: 0 40px;
}

.input {
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.input label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #4f7df9;
  width: 60%;
  text-align: center;
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
}

button#calculate {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background: #4f7df9;
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: background 0.2s ease;
}

button#calculate:hover {
  background: #0044ff;
}

.result {
  padding: 30px 20px;
}

.result p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.result #result {
  font-size: 36px;
  font-weight: 900;
  color: #4f7df9;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}

#comment {
  color: #4f7df9;
  font-weight: 800;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
    padding: 20px 0;
  }
  .content {
    padding: 0 20px;
  }
  .input input {
    font-size: 24px;
  }
  button#calculate {
    font-size: 14px;
    padding: 10px 0;
    border-radius: 8px;
  }
  .result p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .result #result {
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 35px;
    margin-bottom: 15px;
  }
  #comment {
    font-size: 16px;
  }
}
